.carrusel{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrusel-option{
    display: flex;
    justify-content: center;
    align-items: center;
}